.travel-the-trail {
  .form {
    height: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    .prompt {
      left: 10%;
      position: absolute;
      top: 50%;
      width: 80%;
    }

    .space {
      position: absolute;
      top: 80%;
      width: 100%;
      text-align: center;
    }

    .controls {
      position: absolute;
      top: 59.5%;
      left: 10%;
      width: 80%;

      label {
        display: inline-block;
        width: 100%;
      }

      input {
        color: white;
        background: black;
        border: none;
        width: 80%;
        font-size: 1em;
        padding-left: 1em;
      }

      input:focus {
        outline: none;
      }
    }
  }
}
